.container {
  position: absolute;
  border-left: 1px solid #444;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--dark-bg);
  box-shadow: -3px 0px 4px 1px rgb(0, 0, 0, 0.5);
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tabs {
      display: flex;
      width: 100%;
      &::after {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 1px solid #444;
      }
      .tab {
        &.active {
          background: var(--dark-bg);
        }
        background: #444;
        cursor: pointer;
        padding: 0.2rem 0.4rem;
        border-right: 1px solid #444;
      }
    }
    .close {
      position: absolute;
      right: 0;
      z-index: 10;
      cursor: pointer;
      margin-right: 0.2rem;
      stroke-width: 2px;
    }
  }
}
