.container {
  position: relative;
  height: 100%;
  .header {
    display: flex;
    align-items: center;
    padding: 0.4em;
    gap: 0.4em;
    input {
      width: 200px;
      outline: none;
      background: transparent;
      border: 1px solid white;
      color: white;
      padding: 0.1em 0.3em;
    }
  }
  .requestBox {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.2em;
    gap: 1em;
    border-top: 1px solid#444;

    &.active,
    &.active + .requestBox {
      border-top: 1px solid var(--primary);
    }

    .batchNumber {
      color: var(--primary);
      font-size: 1em;
      font-weight: bold;
    }
  }
  .jsonView {
    overflow: auto;
  }
  .rawJsonContainer {
    box-shadow: none;
    .toolbar {
      display: flex;
      align-items: center;
      margin-top: 0.6em;
    }
    .rawJsonContent {
      height: 100%;
      overflow: auto;
      padding: 0px 1em;
      display: flex;
      flex-direction: column;

      pre {
        flex: 1;
      }
    }
  }
}
.DuplicateIcon {
  cursor: pointer;
}
