* {
  box-sizing: border-box;
}
:root {
  --dark-bg: #212121;
  --primary: #f3c008;
}
:root,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: var(--dark-bg);
  color: white;
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.json-container {
  background-color: transparent !important;
  color: #a4a4a4 !important;
  .json-key {
    color: white !important;
  }
  .json-value.json-string {
    white-space: nowrap !important;
    &::before,
    &::after {
      content: '"' !important;
      display: inline-block !important;
    }
  }
}
